    .site-width {
        margin: 0 auto;
        max-width: 1500px;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .cards {

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, auto));
        padding-top: 1rem;
    }

    .card {
        background-color: var(--color-light2);


        figure>img {
            width: 100%;

            object-fit: cover;


        }

    }


    .card__info {

        padding: 10px;

        section {
            background-color: var(--color-light2);
            color: var(--color-off-black);
            padding: 10px;
        }

        header {
            border-bottom: solid var(--color-dark);
            padding-bottom: 10px;
        }

        header>h1 {
            color: var(--color-dark);
            font-size: xx-large;
            padding-bottom: 5px;

        }

        p {

            color: var(--color-off-black);
            padding: 10px;
        }

        em {
            color: var(--color-dark);
        }

        ul.square {
            list-style-type: square;
            color: var(--color-off-black);
            margin-top: 5px;
            margin-left: 30px;
            margin-bottom: 5px;
        }

        ol.decimal {
            list-style-type: decimal;
            color: var(--color-off-black);
            margin-top: 5px;
            margin-left: 30px;
            margin-bottom: 5px;
        }

    }