/* Use this with chrome: take a look: https://caniuse.com/mdn-css_properties_aspect-ratio */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");


.media {
    width: 100%;
    aspect-ratio: 16 / 9;
}

.hero {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.hero video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    display: block;
}

.video-banner {
    width: 100%;
    overflow: hidden;
    pointer-events: none;
}

.video-banner video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.color-bar {
    height: 100px;
    position: relative;
    background-color: var(--color-surface-dark);
}

.color-bar .hero_title {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    line-height: 100px;
    font-size: clamp(2em, 3vw, 2em);
    font-weight: bolder;
    text-transform: uppercase;
}