:root {
    --light: #D5C7BC;
    --dark: #292828;
    --accent: #587379;
    --link: #5a424a;
    --site-width: 1200px;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: var(--light);
}

body>header {
    background-color: var(--accent);
}

nav>ul {
    list-style-type: none;
    display:flex; 
    justify-content: center;
}

nav>ul>li>a {
    text-decoration: none;
    color: var(--light);
    padding: 20px;
    display: block;
}

nav>ul>li>a.active {
    background-color: var(--link) 
}

nav>ul>li:hover {
    text-decoration: none;
    background-color: var(--link);
    color: var(--light);
}

.site-width {
    max-width: var(--site-width);
    padding: 0 2em;
    margin: 0 auto;
}

h1 {
    font-size: 3em;
    margin-top: .75em;
    margin-bottom: .5em;
    text-align: center;
}

h2 {
    font-size: 1.75em;
}

h3, h4 {
    margin-top: 1.25em;
    margin-bottom: .25em;
}

h4 {
    margin-top: 10px;
    color:grey;
}

p {
    margin-bottom: 10px;
}

pre {
    background-color: rgba(229, 229, 229, .5);
    padding: 1em;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;    
    user-select: all;
    -moz-user-select: all;
    -webkit-user-select: all;
}


.flex-1 {
    flex: 1; 
}

.flex-2 {
    flex: 2; 
}

.flex-3 {
    flex: 3; 
}

.lab-problem {
    margin: 50px 0;
}

.lab-problem > header {
    border-bottom: 1px solid var(--dark);
    margin-bottom: 15px;
}

.row {
    display: flex;
    row-gap: 1em;
    margin-top: 15px;
}

.row > [class*="flex-"]:not(:last-child) {
    padding-right: 2em;
    border-right: 1px solid var(--dark);
}

.row > [class*="flex-"]:not(:first-child) {
    padding-left: 2em;
}

.row > .setup > label {
    display: block;
    font-size: 12px;
    font-weight: lighter;
    margin-top: 15px;
}

.row > .setup > input {
    font-size: 16px;
    padding: 5px;
    border-radius: 3.5px;
}

.row > .setup > input[type="button"] {
    padding: .75em;
    margin: 1em 0;
    display: block;
    background-color: var(--link); 
    border: 1px solid var(--link);
    color:var(--light);
    cursor: pointer;
}

.row > .setup > input[type="button"]:hover {
    background-color: var(--light);
    border: 1px solid var(--link);
    color: var(--link);
}

.row > .result {
    padding-left: 20px;
}

@media (max-width: 900px) {
    .row {
        flex-direction: column;
    }

    .row > [class*="flex-"]:not(:last-child) {
        padding-right: 0;
        border-right: none;
    }

    .row > [class*="flex-"]:not(:first-child) {
        padding-left: 0;
    }

    h2 {
        margin-top: 2em;
    }
}