nav {
    display: block;

}

nav > ul {
    display: flex;
    list-style-type: none;
}

nav > ul > li > a{
    padding: .5rem;
    display: block;
    text-decoration: none;
    color: var(--color-light);
    font-weight: bold;
    font-size: 1.2rem;
    border-bottom: 7px solid transparent;
    transition: border 400ms ease-in-out;
    text-align: center;

}

nav > ul > li > a:hover{
    /* background-color: var(--color-link); */
    border-bottom: 7px solid var(--color-link);
}

nav.left{
    justify-content: flex-start;
}

nav.center > ul{
    justify-content: center;
}

nav.right > ul{
    justify-content: flex-end;
}

nav.full > ul > li{
    flex: 1;
}

@media (max-width: 760px){
    nav > ul {
        flex-direction: column;
    }

    nav > ul > li > a {
        border: none;

        &:hover {
            border: none;
            background-color: var(--color-link);
        }
    }
}