:root {
    --site-width: 1000px;
    --color-dark: #332a41;
    --color-light: #F2C777;
    --color-dark2: #592F20;
    --color-light2: #c8a2d8;
    --color-off-white: #f2f5f7;
    --color-off-black: #0a0308;
    --color-link: #6cb8cff8;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    font-family: sans-serif;
    background-color: var(--color-off-white);
    padding-bottom: 10px;
    figure>img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        object-position: center;

    }
}

body>header {
    background-color: var(--color-dark);
    color: var(--color-off-white);

    

    strong {
        display: block;
    }
}

section {
    padding-bottom: 2rem;
}



body>main>article>header>p {
    color: var(--color-off-black);
    margin-bottom: 10px;
}


.site-width {
    margin: 0 auto;
    max-width: var(--site-width);
    padding-left: 1rem;
    padding-right: 1rem;
}

.btn {

    color: var(--color-off-black);
    margin-top: 5px;
    display: block;
    width: fit-content;
    margin: 5px auto;
    text-decoration: none;
    font-weight: bold;

}

body>footer {
    width: 100%;
    margin-top: 1rem;
    background-color: var(--color-off-white);
    padding: 15px;
    text-align: center;
}

section {
    background-color: var(--color-off-white);
}

body>footer>a {
    color: var(--color-light)
}

h1 {
    color: var(--color-off-black);
    font-size: 3rem;
    padding: 2rem 0;

}

h2 {
    padding-bottom: .5rem;
}



p {
    padding-bottom: 15px;
}

div>section>ul {
    padding-left: 1rem;
    margin-bottom: 2rem;
}

div>section>ul>li {
    padding-bottom: 5px;
}