:root {
    --color-dark: #080708;
    --calor-light: #B8D5B8;
    --color-main: #05A8AA;
    --color-link: #93032E;

}

body {
    background-color: var(--calor-light);
    font-family: sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.site-width {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2rem;
}

.widget {
    margin-top: 2rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;


    >section {
        background-color: #FFFFFF;
        border-radius: 12px;

        >header {
            background-color: var(--color-main);
            border-radius: 12px 12px 0 0;
            padding: .5rem;
            color: #FFFFFF;
            text-align: center;
        }

        >div {
            padding: .5rem;
            h4{
                padding-top: 5px;
            }

            button{
                background-color: var(--color-link);
                color: #FFFFFF;
                margin-top: 5px;
            }
            label,
            input {
                display: block;
                width: 100%;
            }

            .flex {
                gap: .5rem;
            }
            .flex-1{
                margin: 0 5px 0 5px ;
            }

            @media (max-width: 700px) {
                .flex {
                    flex-direction: column;
                }
            }
        }

    }
}

.flex {
    display: flex;

    >flex-1 {
        flex: 1;
    }
}

#pet-card{
    max-width: 200px;
    margin: 20px auto;
    background-color: #FFF;
    padding: 2rem;

    form{
        input{
            display: block;
            width: 100%;
            padding: 3px;
            margin-bottom: 1rem;
        }
        button[type="submit"]{
            background-color: var(--color-link);
            border: none;
            color: #FFF;
            font-weight: bold;
            padding: 10px;
            border-radius: 30px;
            margin: 0 auto;
            display: block;
            margin-bottom: 1rem;
            border: 2px solid var(--color-link);
            width: 100px;
        }

        button[type="reset"]{
            background-color: transparent;
            border: 2px solid var(--color-link);
            font-weight: bold;
            padding: 10px;
            border-radius: 30px;
            margin: 0 auto;
            display: block;
        }

    }
    #pets{
        border-top: 3px solid var(--color-main);
        margin-top: 2rem;
        padding-top: 1rem;
        
        .pet {
            text-align: center;
            margin: 10px 0;
            &:hover{
                cursor: pointer;
                color: var(--color-link);
            }
        }
        #pets:has(>.pet){
            border-top: 3px ;
        }
    }
}