/* Use this with chrome: take a look: https://caniuse.com/mdn-css_properties_aspect-ratio */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");


.media {
    width: 100%;
    aspect-ratio: 16 / 9;
}

.hero{
    height: 450px;
    position: relative;
    background-color: var(--dark);
}

.hero video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: overlay;
}

.hero .hero_title{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    line-height: 450px;
    font-size: clamp(4em, 9vw, 12em);
    font-weight: bolder;
    text-transform: uppercase;
}

.mask-1{
    mask-image: url(/images/smiley.png);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
}

.social{
    margin: 0 auto;
    width: fit-content;
}

.social a {
    font-size: 2em;
    margin: 0 1rem;
    background-color: var(--light);
    border-radius: 100%;
    padding-top: 3px;
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    transition: color .4s ease-in-out;
}

.social a:hover{
    color: var(--link);
}