:root {
    --dark: #14213D;
    --light: #E5E5E5;
    --accent: #711010;
    --link: #FCA311;
    --max-width: 1200px;
    --hero-height: 400px;
    --header-typeface: 'Oswald', sans-serif;
    --body-typeface: 'Open Sans', sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--light);
}

main {
    /* The last two values represent how transparent the color is */
    background-color: #FFFFFF77;
}

footer{
    background-color: var(--dark);
    padding: 2rem;
}

.site-width {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 1em;
}


/* TODO_DONE: Make the header text display on their own lines */
body > header strong {
    display: block;
}

/* removing the padding on the header to keep it inline with the content */
header > .site-width {
    padding: 0;
}

/* adding padding back inwhen our screen is full width */
@media (max-width: 1200px) 
{
    header > .site-width {
        padding: 0 1em;
    }
}




/* ======== START: BUTTON STYLING ========= */
.btn {
    padding: 20px;
    text-decoration: none;
    color: var(--light);
    background-color: var(--link);
    display: block;
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;
    border-radius: 4px;
    margin: 0 auto;
}

.btn--sm {
    padding: 10px;
    font-size: 1em;
}

.btn:hover {
    opacity: .8;
}
/* ======== END: BUTTON STYLING ========= */


/* ======== START: BASIC TEXT STYLING ======== */
h1, h2, h3, h4, h5, h6 {
    color: var(--dark);
    font-family: var(--header-typeface);
}

/* TODO_DONE: Add li in this */
p, a, em, strong, li {
    color: var(--dark);
    font-family: var(--body-typeface);
}

h1 {
    font-size: 3em;
}

ul, ol {
    margin-left: 2em;
}
/* ======== END: BASIC TEXT STYLING ======== */





/* ======== START: BASIC SPACING ======== */
article > section {
    margin: 2em 0;
}
/* ======== END: BASIC SPACING ======== */





/* ======== START: GENERAL CLASSES ======== */
.highlight {
    background-color: var(--accent);
    color: var(--light);
    padding: 1em;
    font-weight: bold;
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}

/* this overrides the previous coloring if any of these semantic text elements have a parent with the reverse class */
.highlight :is(p, em, strong, li, h1, h2, h3, h4, h5, h6)
{
    color: var(--light);
}

/* Find out why this isnt working */
/* TODO_DONE: .highlight header SWITCHED TO .highlight.content > [class^="flex-"] > header */
.highlight.content > [class^="flex-"] > header {
    border-color: var(--light);
}

.reverse {
    background-color: var(--dark);
    border-color: var(--light);
    color: var(--light);
}

/* this overrides the previous coloring if any of these semantic text elements have a parent with the reverse class */
.reverse :is(p, em, strong, li, h1, h2, h3, h4, h5, h6)
{
    color: var(--light);
}

/* this is a class for setting the width of an item to its content */
.w-content {
    width: fit-content;
}

/* sets the margin to 0 */
.m-0 {
    margin: 0;
}

/* sets the padding on the top to 1em */
.pt-1 {
    padding-top: 1em;
}

/* sets the padding on the bottom to 1em */
.pb-1 {
    padding-bottom: 1em;
}



/* ======== END: GENERAL CLASSES ======== */