.recipes {
    max-width: 400px;
    margin: 0 auto;
    height: 520px;
}

form#add-recipe-form {
    width: 100%;
    max-width: 100%;
}

.recipes-add,
.recipes-view {
    background-color: white;
    padding: 1em;
}

.recipes>.tabs {
    display: flex;
    list-style-type: none;
    margin: 0;

}

.recipes>.tabs>li {
    padding: 10px;
    font-weight: bold;
    background-color: var(--color-link);
    cursor: pointer;
    box-shadow: 2px -13px 10px -13px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 2px -13px 10px -13px rgba(0, 0, 0, 0.5) inset;
    -moz-box-shadow: 2px -13px 10px -13px rgba(0, 0, 0, 0.5) inset;
}

.recipes>.tabs>li.active {
    background-color: white;
    color: var(--color-dark);
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.recipes .hidden {
    visibility: hidden;
    display: none;
}

.recipes-view, .recipes-add {
    height: 520px;
    padding: 3em 2em;
    overflow: auto;
}

.recipes-list>.recipe:not(:last-child) {
    border-bottom: 1px solid var(--color-accent);
    margin-bottom: 2em;
    padding-bottom: 1em;
}


/* FROM: https://codepen.io/stephenpaton-tech/full/JjRvGmY */
/* ===== Scrollbar CSS ===== */
/* Firefox */
.recipes-view {
    scrollbar-width: auto;
    scrollbar-color: var(--color-light) white;
}

/* Chrome, Edge, and Safari */
.recipes-view::-webkit-scrollbar {
    width: 10px;
}

.recipes-view::-webkit-scrollbar-track {
    background: white;
}

.recipes-view::-webkit-scrollbar-thumb {
    background-color: var(--color-light);
    border-radius: 5px;
    border: 2px solid white;
}

