@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&display=swap');

:root {
    --color-light: #dfe0e2;
    --color-dark: #272727;
    --color-accent: #be5a38;
    --color-link: #f6ae2d;
    --content-width: 1200px;
    --transition-time-default: .4s;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: var(--color-light);
}


div.content {
    max-width: var(--content-width);
    margin: 0 auto;
    padding-left: 220px;
    transition: padding .1s ease-in-out;
}

article {
    padding: 3em 2em 2em 2em;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 4em;
    color: var(--color-dark);
    text-align: center;
}

article > header {    
    border-bottom: 3px double var(--color-dark);
    padding-bottom: 20px;
    margin-bottom: 50px;
}

section {
    margin-bottom: 50px;
}

section ul, section ol {
    margin-left: 1em;
}

.row {
    display: flex;
    gap: 1.5em;
}

.row:has(+.row):not(:last-of-type){
    margin-bottom: 1.5em;
}

figure > img {
    flex-shrink: 0;
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}  

.flex-3 {
    flex: 3;
} 

.flex-4 {
    flex: 4;
}   

h3 {
    margin-bottom: .5em;
}

p {
    margin-bottom: .75em;
}

a {
    color: var(--color-dark);
    font-weight: bold;
}

a:hover {
    background-color: var(--color-link);
}



.center {
    align-items: center;
    justify-content: center;
}

.w-full {
    width: 100%;
    max-width: 100%;
}

button, input[type="button"], input[type="submit"] {
    padding: .75em;
    font-size: 1.1em;
    max-height: fit-content;
    max-width: fit-content;
    font-weight: bold;
    border: none;
    cursor: pointer;
    background-color: var(--color-link);
    color:var(--color-dark);
    border-radius: 4px;
    transition: color .2s ease-in-out,
        background-color var(--transition-time-default) ease-in-out;

    box-shadow: -14px -12px 18px -10px rgba(0,0,0,0.3) inset;
    -webkit-box-shadow: -14px -12px 18px -10px rgba(0,0,0,0.3) inset;
    -moz-box-shadow: -14px -12px 18px -10px rgba(0,0,0,0.3) inset;

    box-shadow: 10px 12px 18px -10px rgba(255,255,255,0.3) inset;
    -webkit-box-shadow: 10px 12px 18px -10px rgba(255,255,255,0.3) inset;
    -moz-box-shadow: 10px 12px 18px -10px rgba(255,255,255,0.3) inset;
}

button:hover, input[type="button"]:hover {
    background-color: var(--color-dark);
    color:var(--color-link);
}

button:active, input[type="button"]:active {
    background-color: var(--color-dark);
    color:var(--color-light);

    box-shadow: -14px -12px 18px -10px rgba(255,255,255,0.3) inset;
    -webkit-box-shadow: -14px -12px 18px -10px rgba(255,255,255,0.3) inset;
    -moz-box-shadow: -14px -12px 18px -10px rgba(255,255,255,0.3) inset;

    box-shadow: 10px 12px 18px -10px rgba(0,0,0,0.3) inset;
    -webkit-box-shadow: 10px 12px 18px -10px rgba(0,0,0,0.3) inset;
    -moz-box-shadow: 10px 12px 18px -10px rgba(0,0,0,0.3) inset;
}

.active {
    background-color: var(--color-accent);
    color: var(--color-light);
}

.inactive {
    opacity:.5;
    cursor: not-allowed;
}

.element-example {
    border: 4px solid var(--color-dark);
    line-height: 3em;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
}


pre {
    background-color: rgba(255,255,255,0.3);
    padding: 1em;
    margin-bottom: 1em;
    user-select: all;
}

code {
    font-family: 'Courier New', Courier, monospace;
}


@media (max-width: 900px )
{
    .row {
        flex-direction: column;
    }
}

.data .hidden {
    display: none;
}

form {
    max-width: 300px;
}

form label, label {
    font-size: .8em;
}

form input, form textarea, select {
    padding: 5px;
    font-size: 1.1em;
    width: 100%;
    margin-bottom: 1em;
    color: var(--color-dark);
    outline-color: var(--color-link);
    cursor: pointer;
}

form textarea {
    resize: none;
    height: 200px;
}

form input[type="submit"] {
    width: 100%;
    max-width: 100%;
}

form input[readonly] {
    background-color: transparent;
}